<%= form_for [@edition, @partner] do |f| %>
  <%= render 'errors', object: @partner %>

  <div class='field'>
    <label class='label'>Name</label>
    <div class='control'>
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class='control'>
    <%= f.submit :create, class: 'button is-info' %>
  </div>
<% end %>
