<div class='columns'>
  <div class='column is-8'>
    index
  </div>

  <div class='column is-4'>
    <div class='box' id='items-form'></div>
  </div>
</div>

<%= javascript_include_tag 'bundles/items_form.js', 'data-turbolinks-track': 'reload' %>
