<div class='columns'>
  <div class='column is-8' id='items-wrapper'>
    <%= render @items %>
  </div>

  <div class='column is-4' id='items-form' />
</div>

<%= javascript_include_tag 'bundles/items_form.js', 'data-turbolinks-track': 'reload' %>
