/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./application
 *= require_self
 *= require font-awesome
 */

@import "bulma";

.nav {
  box-shadow: 0 1px 0 rgba(219, 219, 219, 0.3);
  margin-bottom: 20px;
}

.control:not(:last-child) {
    margin-bottom: 10px;
}

#items-form {
  .panel .panel-block {
    &.with-field {
      padding: 0;

      input:not([type="submit"]) {
        border-radius: 0;
        border: 0;
        box-shadow: none;
      }
    }
  }
}

.is-fullwidth {
  width: 100%;
}

.items-wrapper {
  .panel {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  .sub-item {
    display: flex;
    justify-content: space-between;
  }
}

.placeholder {
  color: rgb(117, 117, 117);
}

.click {
  cursor: pointer;
}

.categories-wrapper {
  margin-top: -1px;

  .panel-block {
    @extend .click;
    border-left-width: 5px;
  }
}

$border-width: 20px;
$subitem-padding: 5px;

#items-wrapper {
  .item {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #f1f1f1;

    .subitem {
      position: relative;
      padding-left: $border-width + $subitem-padding;
      margin-left: 10px;

      &::before, &::after {
        content: ' ';
        position: absolute;
      }

      &::after {
        border-left: 1px solid;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
      }

      &::before {
        top: 50%;
        border-bottom: 1px solid;
        width: $border-width;
        margin-left: -($border-width + $subitem-padding);
      }

      &:last-child {
        &::after {
          height: 50%;
        }
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
