/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./devise
 *= require_self
 *= require font-awesome
 */

@import "bulma";

body {
  background: asset-url('background1.jpg');
}

.sign-in {
  background: transparent;
}

.control:not(:last-child) {
    margin-bottom: 10px;
}

.control.token {
  width: 100%;
}

.box h1 {
  font-weight: bold;
}

.notification {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
